* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: sans-serif;

}

.container {
    background: #23424A;
    color: white;

    width: 80%;
    margin: 0 auto;

    /* em uses the font size of container, default browser font size is
    usually 16px */
    padding: 5em;   /* in this case 16 * 5 = 80px*/

    /* heights can lead to clipping of text as display shrinks */
    /* height: 300px; */
}